<div *ngIf="!isEdit">
  <div class="row d-flex justify-content-center">
    <h1 class="row text-primary">My Pets</h1>
  </div>
  <div class="container">
    <div class="row px-2 justify-content-center" *ngIf="myPets">
      <div class="px-2 py-2" *ngFor="let item of myPets">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            [src]="b64Image(item.content)"
            height="100px"
            alt="Image Source"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
              {{ item.description }}
            </p>
            <div>
              <div>
                <button
                  id="edit-{{ item.ID }}"
                  class="btn btn-warning mx-1"
                  (click)="gotoEdit(item.petId)"
                >
                  Edit
                </button>
                <button
                  id="remove-{{ item.ID }}"
                  class="btn btn-danger mx-1"
                  (click)="remove(item.id)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-edit-pet [id]="id" [isEdit]="isEdit"></app-edit-pet>
