<div *ngIf="id && isEdit">
  <div>
    <div class="row d-flex justify-content-center">
      <h1 class="row text-primary">Edit Pet</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center py-3">
    <form [formGroup]="petForm">
      <div class="row">
        <div class="col-12">
          <img
            *ngFor="let preview of pet.files"
            [src]="b64Image(preview.content)"
            class="preview"
            height="100px"
            alt="Image Source"
          />
          <br>
          <!-- <button class="btn-sm btn-danger">delete</button> -->
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="ally"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" formControlName="type">
          <option>dog</option>
          <option>cat</option>
          <option>pig</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          formControlName="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="text"
          class="form-control"
          id="age"
          placeholder="26"
          formControlName="age"
        />
      </div>
      <div class="row d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-lg btn-primary mb-2"
          (click)="edit()"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
